<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Don't include space after comma. Values are case insensitive -->
    <add key="AllowedFileExtensions" value=".cs,.cshtml,.json,.config,.xml,.m,.h"/>
    <add key="ExcludedFolders" value="wwwroot,packages,bin,obj,.vs,libraries,TestResults"/>
  </appSettings>
</configuration>